.header {
  max-width: 80rem;
  text-align: center;
  margin: 6rem auto 6rem auto;
  color: $dark-green;

  &__title {
    font-size: 4rem;
    margin-bottom: 0px;
  }
  &__subtitle {
    font-size: 2rem;
    margin-top: 0px;
  }

  @media (max-width: 550px) {
    &__title {
      font-size: 2rem;
    }
    &__subtitle {
      font-size: 1.2rem;
    }
  }
}
